# PostgreSQL connection string
# DATABASE_URL="postgresql://neondb_owner:npg_K0jSaWh1ofHb@ep-cool-fog-amxhhud6-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DATABASE_URL="postgresql://postgres:password@localhost:5432/calendly_clone?schema=public"

# Server port (defaults to 5000 if not set)
PORT=5000

# Resend Email Integration
RESEND_API_KEY=re_TU3uHgyG_2X7XJE4pKjaH99J5trTk2sJW
RESEND_FROM_EMAIL=onboarding@resend.dev

# Cron Reminders Secret
CRON_SECRET=super_secret_cron_key
